# Exercise 6: Weather anomalies (10 points)

The aim of this exercise is to analyze historical weather data.
- In Problem 1 you read in a tricky data file and explore it's contents.
- In problem 2, you will convert and aggregate the data from daily temperatures in Fahrenheit, to monthly average temperatures in Celsius.
- In Problem 3, you will finally analyze weather anomalies by comparing monthly average temperatures to a long-term average.

### Tips for completing this exercise

- Use **exactly** the same variable names as in the instructions because your answers will be automatically graded, and the tests that grade your answers rely on following the same formatting or variable naming as in the instructions.
- **Please do not**:

    - **Change the file names**. Do all of your editing in the provided `Exercise-6-problems-1-3.ipynb` file (this file).
    - **Copy/paste cells in this notebook**. We use an automated grading system that will fail if there are copies of code cells.
    - **Change the existing cell types**. You can add cells, but changing the cell types for existing cells (from code to markdown, for example) will also cause the automated grader to fail.

## AI tool usage agreement

**Enter your name (and that of your partner) in the cell below** to confirm that you have followed the [course guidelines on the use of AI tools](https://geo-python-site.readthedocs.io/en/latest/course-info/ai-tools.html) and understand that misuse of AI tools is considered cheating.

RENITA RISTIMAKI

## Problem 1 - Reading in a tricky data file (2 points)

You first task for this exercise is to read in the data file [data/1091402.txt](data/1091402.txt) to a variable called `data`. Pay attention to the input data structure and no data values.

### Scores for this problem

**Your score on this problem will be based on following criteria:**

- Reading the data into a variable called `data` using pandas
    - Skipping the second row of the datafile that contains `----------` characters that don't belong to the data
    - Convert the no-data values (`-9999`) into `NaN` 
- Calculating basic statistics from the data
- Including comments that explain what most lines in the code do

### Part 1 (1 point)

You should start by loading the data file.

- Read the data file into variable the variable `data`
    - Skip the second row
    - Convert the no-data values (`-9999`) into `NaN`

In [350]:
#Importing pandas
import pandas as pd

#Defining the absolute path to the file
fp = r"/home/jovyan/my-work/exercises/Exercise-6/data/1091402.txt"

#reading the data
data = pd.read_csv(fp, delim_whitespace=True, skiprows= [1], na_values=["-9999"])

In [351]:
# Check that the dataframe looks ok:
data.head()

,STATION,ELEVATION,LATITUDE,LONGITUDE,DATE,PRCP,TAVG,TMAX,TMIN
0,GHCND:FIE00142080,51,60.3269,24.9603,19520101,0.31,37.0,39.0,34.0
1,GHCND:FIE00142080,51,60.3269,24.9603,19520102,NaN,35.0,37.0,34.0
2,GHCND:FIE00142080,51,60.3269,24.9603,19520103,0.14,33.0,36.0,NaN
3,GHCND:FIE00142080,51,60.3269,24.9603,19520104,0.05,29.0,30.0,25.0
4,GHCND:FIE00142080,51,60.3269,24.9603,19520105,0.06,27.0,30.0,25.0

In [352]:
# Check the last rows of the data (there should be some NaN values)
data.tail()

,STATION,ELEVATION,LATITUDE,LONGITUDE,DATE,PRCP,TAVG,TMAX,TMIN
23711,GHCND:FIE00142080,51,60.3269,24.9603,20170930,NaN,47.0,49.0,44.0
23712,GHCND:FIE00142080,51,60.3269,24.9603,20171001,0.04,47.0,48.0,45.0
23713,GHCND:FIE00142080,51,60.3269,24.9603,20171002,NaN,47.0,49.0,46.0
23714,GHCND:FIE00142080,51,60.3269,24.9603,20171003,0.94,47.0,NaN,44.0
23715,GHCND:FIE00142080,51,60.3269,24.9603,20171004,0.51,52.0,56.0,NaN

### Part 2 (1 point)

In this section, you will calculate some basic statistics of the input data.

- Calculate how many no-data (NaN) values there are in the `TAVG` column
    - Assign your answer to a variable called `tavg_nodata_count`

In [353]:
tavg_nodata_count = data["TAVG"].isna().sum()

In [354]:
# Print out the solution:
print(f'Number of no-data values in column "TAVG": {tavg_nodata_count}')

Number of no-data values in column "TAVG": 3308

- Calculate how many no-data (NaN) values there are for the `TMIN` column
    - Assign your answer into a variable called `tmin_nodata_count`

In [355]:
tmin_nodata_count = data["TMIN"].isna().sum()

In [356]:
# Print out the solution:
print(f'Number of no-data values in column "TMIN": {tmin_nodata_count}')

Number of no-data values in column "TMIN": 365

- Calculate the total number of days covered by this data file
    - Assign your answer into a variable called `day_count`

In [357]:
day_count = data["DATE"].nunique()

In [358]:
# Print out the solution:
print(f'Number of days: {day_count}')

Number of days: 23716

- Find the date of the oldest (first) observation
    - Assign your answer into a variable called `first_obs`

In [359]:
first_obs = data["DATE"].min()

In [360]:
# Print out the solution:
print(f'Date of the first observation: {first_obs}')

Date of the first observation: 19520101

- Find the date of the most recent (last) observation
    - Assign your answer into a variable called `last_obs`

In [361]:
last_obs = data["DATE"].max()

In [362]:
# Print out the solution:
print(f'Date of the last observation: {last_obs}')

Date of the last observation: 20171004

- Find the average temperature for the whole data file (all observtions) from column `TAVG`
    - Assign your answer into a variable called `avg_temp`

In [363]:
avg_temp = data["TAVG"].mean()

In [364]:
# Print out the solution:
print(f'Average temperature (F) for the whole dataset: {round(avg_temp, 2)}')

Average temperature (F) for the whole dataset: 41.32

- Find the average `TMAX` temperature over the [Summer of '69](https://www.youtube.com/watch?v=9f06QZCVUHg) (months May, June, July, and August of the year 1969)
    - Assign your answer into a variable called `avg_temp_1969`

In [365]:
# Converting DATE to string and extracting YEAR_MONTH

data["DATE_STR"] = data["DATE"].astype(str)
data["YEAR_MONTH"] = data["DATE_STR"].str.slice(start=0, stop=6)

# Defining the months for the Summer of '69
summer_months = ["196905", "196906", "196907", "196908"]

# Filter the DataFrame for these months (I did this part with the aid of AI)
summer69 = data[data["YEAR_MONTH"].isin(summer_months)]

# Calculate the average TMAX temperature over the summer of 1969
avg_temp_1969 = summer69["TMAX"].mean()

# Print the result
print(avg_temp_1969)

67.82113821138212

In [366]:
# This test print should print a number
print(f"Average temperature (F) for the Summer of '69: {round(avg_temp_1969, 2)}")

Average temperature (F) for the Summer of '69: 67.82

## Problem 2 - Calculating monthly average temperatures (3 points)

For this problem your goal is to calculate monthly average temperatures in degrees Celsius from the daily Fahrenheit values we have in the data file. You can continue working with the same DataFrame that you used in Problem 1.

### Scores for this problem

**Your score on this problem will be based on following criteria:**

- Calculating the monthly average temperatures in degrees Celsius for the each month in the dataset (i.e., for each month of each year)
    - You should store the monthly average temperatures in a new Pandas DataFrame called `monthly_data`
    - `monthly_data` should contain a new column called `temp_celsius` the monthly average temperatures in Celsius
    - Convert the `TAVG` values in Fahrenheit into Celsius and store the output in the `temp_celsius`
- Including comments that explain what most lines in the code do

**Hint**: *You can start by creating a new column with a label for each year and month, and then continue grouping the data based on this information.*

In [370]:
#Creating a dataframe
data = pd.DataFrame(data)

# Converting date to datetime format
data["DATE"] = pd.to_datetime(data["DATE"], format='%Y%m%d')

#Defining the conversion function
def fahr_to_celsius(temp_fahrenheit):
  
    converted_temp = (temp_fahrenheit - 32) / 1.8

    return converted_temp

#Creating empty column for Celsius daily average values
data["TAVG_C"] = 0.0

# Iterating over the rows
for i, row in data.iterrows():

    # Convert the Fahrenheit to Celsius
    celsius = fahr_to_celsius(row["TAVG"])

 # Updating the value of 'Celsius' column with the converted value
    data.at[i, "TAVG_C"] = celsius


# Extract year and month from DATE
data["YEAR_MONTH"] = data["DATE"].dt.strftime("%Y-%m")

# Calculate monthly average temperatures in Celsius
monthly_data = data.groupby("YEAR_MONTH")["TAVG_C"].mean().reset_index()

# Rename columns for clarity
monthly_data.columns = ['Year_Month', 'temp_celsius']

In [371]:
# This test prints the length of variable monthly_data
print(len(monthly_data))

790

In [372]:
# This test prints the column names of monthly_data
print(monthly_data.columns.values)

['Year_Month' 'temp_celsius']

In [373]:
# This test prints the mean of temp_celsius
print(monthly_data['temp_celsius'].mean())

5.097114347669992

In [374]:
# This test prints the median of temp_celsius
print(round(monthly_data['temp_celsius'].median(), 2))

4.73

## Problem 3 - Calculating temperature anomalies (5 points)

Our goal in this problem is to calculate monthly temperature anomalies in order to see how temperatures have changed over time, relative to an observation period between 1952-1980. You can continue working with the same data that you used in Problems 1 and 2.

**Your score on this problem will be based on following criteria:**

### Part 1

- Calculating ***the average (mean) temperature for each month (e.g., January, February, March, ...) over the period from 1952 up to and including 1980*** in a new DataFrame called `reference_temps`
    - You should end up with 12 values, 1 mean temperature for each month during the time period (see example table and figure below).
    - The columns in the new DataFrame should be `month` and `ref_temp`
    
Your `reference_temps` dataframe should have the following structure: 1 value for each month of the year (12 total) and the values represent and average in the observation period 1952-1980. The `ref_temp` temperatures should be in degrees Celsius.
   
| month    | ref_temp         |
|----------|------------------|
| 01       | -5.838761        |
| 02       | -7.064088        |
| 03       | -3.874213        |
| ...      | ...              |

### Part 2

- Calculating **a temperature anomaly for every month** in the `monthly_data` DataFrame using the corresponding monthly average temperature for each of the 12 months:
    - In order to achieve this you need to make **a table join** (see [hints for this week](https://geo-python-site.readthedocs.io/en/develop/lessons/L6/exercise-6.html#joining-data-from-one-dataframe-to-another)) between `monthly_data` and `ref_temps` based on the month.
    - The temperature anomaly is calculated as the difference between the temperature for a given month (`temp_celsius` column in `monthly_data`) and the corresponding monthly reference temperature (`ref_temp` column in`reference_temps`).
    - Store the result in a new column `"diff"` 
    
As the output of the table join and the calculation, you should have three new columns in the `monthly_data` DataFrame:

1. `diff`: The temperature anomaly, i.e. the difference between the temperature for a given month (e.g., February 1960) and the mean temperature during the reference period (e.g., the average of all Februaries between 1952 and 1980), 
2. `month`: The month for that row of observations
3. `ref_temp`: The monthly reference temperature

A summary of the relationships between the `monthly_data` and `reference_temps` DataFrames, as well as how the `diff` value should be calculated in the `monthly_data` DataFrame is presented in the figure below.

![Exercise 6 dataframes](img/exercise-6-dataframes.png)<br/>
*Figure 1. Relationships between the `monthly_data` and `reference_temps` DataFrames.*

You should finally report which month had the greatest weather anomaly during the observed time period.

Remember to include comments in your code.

In [381]:
#Creating an empty dataframe
reference_temps = pd.DataFrame()

# Filtering data to 1952-1980
filtered_data = data[data["DATE"].dt.year.between(1952, 1980)]

# Calculate average temperature for each month
reference_temps = filtered_data.groupby(filtered_data["DATE"].dt.month)["TAVG_C"].mean().reset_index()

# Renaming columns
reference_temps.columns = ["month", "ref_temp"]

# Print the reference_temps dataframe
reference_temps.head()

#Creating "month" column to monthly_data to use as the key

monthly_data['Year_Month'] = pd.to_datetime(monthly_data['Year_Month'], format='%Y-%m')

# Extract month from Year_Month
monthly_data['month'] = monthly_data['Year_Month'].dt.month


#Merging reference_temps dataframe to monthly_data dataframe
monthly_data = pd.merge(monthly_data, reference_temps, on='month', how='outer')


#Calculating temperature anomaly (diff)
monthly_data['diff'] = monthly_data['temp_celsius'] - monthly_data['ref_temp']

In [382]:
# Check the monthly data:
monthly_data.head()

  Year_Month  temp_celsius  month  ref_temp_x  ref_temp_y  ref_temp      diff
0 1952-01-01     -1.400966      1   -5.877342   -5.877342 -5.877342  4.476376
1 1953-01-01     -5.396825      1   -5.877342   -5.877342 -5.877342  0.480517
2 1954-01-01     -7.072650      1   -5.877342   -5.877342 -5.877342 -1.195307
3 1955-01-01     -5.473251      1   -5.877342   -5.877342 -5.877342  0.404091
4 1956-01-01     -8.133333      1   -5.877342   -5.877342 -5.877342 -2.255991

In [383]:
# Print out desriptive statistics for the relevant columns:
monthly_data[["temp_celsius", "ref_temp", "diff"]].describe()

       temp_celsius    ref_temp        diff
count    682.000000  790.000000  682.000000
mean       5.097114    4.389928    0.704662
std        8.483949    8.273489    2.537382
min      -17.974910   -6.990482  -12.097568
25%       -1.685185   -3.841270   -0.840714
50%        4.726105    4.947222    0.762644
75%       12.870370   13.511653    2.321680
max       22.329749   16.498881    8.161117

Remember also to calculate which month had the largest temperature anomaly during the observed time period in comparison with the reference data. Use the cell below to calculate and print out the answers. Note, you may want to consider the largest absolute value of the temperature anomaly, as well as the largest positive and negative anomalies.

In [385]:
#Calculating the temperature anomaly
monthly_data['diff'] = monthly_data['temp_celsius'] - monthly_data['ref_temp']

#Finding month with the largest absolute temperature anomaly
largest_abs_anomaly = monthly_data.loc[monthly_data['diff'].abs().idxmax()]

#Finding month with the largest positive temperature anomaly
largest_positive_anomaly = monthly_data.loc[monthly_data['diff'].idxmax()]

#Finding month with the largest negative temperature anomaly
largest_negative_anomaly = monthly_data.loc[monthly_data['diff'].idxmin()]

print("Month with largest absolute temperature anomaly:")
print(largest_abs_anomaly)

print("\nMonth with largest positive temperature anomaly:")
print(largest_positive_anomaly)

print("\nMonth with largest negative temperature anomaly:")
print(largest_negative_anomaly)

Month with largest absolute temperature anomaly:
Year_Month      1987-01-01 00:00:00
temp_celsius              -17.97491
month                             1
ref_temp_x                -5.877342
ref_temp_y                -5.877342
ref_temp                  -5.877342
diff                     -12.097568
Name: 35, dtype: object

Month with largest positive temperature anomaly:
Year_Month      1990-02-01 00:00:00
temp_celsius               1.170635
month                             2
ref_temp_x                -6.990482
ref_temp_y                -6.990482
ref_temp                  -6.990482
diff                       8.161117
Name: 104, dtype: object

Month with largest negative temperature anomaly:
Year_Month      1987-01-01 00:00:00
temp_celsius              -17.97491
month                             1
ref_temp_x                -5.877342
ref_temp_y                -5.877342
ref_temp                  -5.877342
diff                     -12.097568
Name: 35, dtype: object

## Part 3 (*optional*) - **AI-LLM OK**

Using [ChatGPT](https://openai.com/chatgpt), calculate the reference temperatures and temperature anomalies as directed above.

- Your reference temperatures should be stored in a new DataFrame called `ai_reference_temps`
    - The columns in the new DataFrame should be `month` and `ai_ref_temp`
- Calculate **a temperature anomaly for every month** in the `monthly_data` DataFrame using the corresponding monthly average temperature for each of the 12 months:
    - You again need to make **a table join** (see [hints for this week](https://geo-python-site.readthedocs.io/en/develop/lessons/L6/exercise-6.html#joining-data-from-one-dataframe-to-another)) between `monthly_data` and `ai_ref_temps` based on the month.
    - The temperature anomaly is calculated as the difference between the temperature for a given month (`temp_celsius` column in `monthly_data`) and the corresponding monthly reference temperature (`ai_ref_temp` column in`reference_temps`).
    - Store the result in a new column `"ai_diff"` 

In order to do this, you should post both the prompt you provide to ChatGPT and the code it produces in the cells below. As your prompts may need to be refined to get your code working, please report each prompt so we can see how you arrived at your final version of the function.

### Prompt 1

Enter the text of the first prompt you used for this part of the exercise below.

YOUR ANSWER HERE

Enter the code generated by your first prompt below.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

Looking at the function produced by ChatGPT do you see any problems compared to your solution in Part 1? Please comment below about this.

YOUR ANSWER HERE

Test out your code by running the tests below.

In [ ]:
# Check the monthly data:
monthly_data.head()

In [ ]:
# Print out desriptive statistics for the relevant columns:
monthly_data[["temp_celsius", "ai_ref_temp", "ai_diff"]].describe()

### Additional prompts

In the event your code does not pass all of the tests above, please enter the prompt(s) you used to refine the function in the cell below. If you used more than one prompt, you can format them as a Markdown list using the format demonstrated below:

```
1. First prompt
2. Second prompt
3. ...
```

If no additional prompts were needed, you can skip this.

YOUR ANSWER HERE

Enter the final version of your code produced by ChatGPT in the cell below. You can test the code by re-running the tests above after updating the code below.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

Does your revised function now pass all of the tests?
- If yes, please comment below about your experience using ChatGPT and the benefits and drawbacks you see.
- If no, what kinds of problems do you see with the revised function produced by ChatGPT compared to your solution in Part 1? Please comment below about this.

YOUR ANSWER HERE

### Final comments

If you have any other comments about your experience using ChatGPT in this problem, please enter those below.

YOUR ANSWER HERE

### On to Problem 4 (*optional*)

Now you can continue to the *optional* [Problem 4](Exercise-6-problem-4.ipynb)